body {
	background-color: #E0F0FF;
	color: rgb(20, 20, 20);
	font-family: font-family: 'Lora', serif;
	font-size: 17px


}

h1 {
	    color: #001516;
    font-family: 'Open Sans', sans-serif;

    font-weight: 60;
    letter-spacing: 1px;
    font-size: 45px;
}

h2 {
	font-family: 'Open Sans', sans-serif;

	font-weight: 100;
	color: #001516;
}

a:hover {
	color: white;
	font-size: 50px

}

div {    margin: 50px auto;
    background: #E0F0FF;
    padding: 60px;
    border-radius: 4px;
    text-align: center;



    
}

#logo {
	width: 250px
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media(max-width: 500px) {
	.container {
		width: 400px
	}
}

@media(max-width: 760px) {
	.container {
		width: 600px
	}
}


.card-white {
	background-color: lightblue
	



}


.container {
	width: 700px
	
}



.img-circle {
	border-radius: 100%
}


.list-inline {
	list-style: none;
	padding-left: 0px
}




.frm {
	list-style: none;
	padding-left: 0px
}

.list-inline li {
	display: inline;
	padding: 10px


}

.list-inline i {
	font-size: 50px;
	color: black;

	
}


#introduction p {
	margin-top: 40px

}












